
<div class="container">
  <div class="row">
    <div class="col-4">
      <app-home></app-home>
    </div>
    <div class="col-4">
      <app-home2></app-home2>
    </div>
    <div class="col-4">
      <app-home3></app-home3>
    </div>
  </div>
</div>
<button class="btn btn-primary">Test</button>
<div>
  <form [formGroup]="fileForm">
    <label for="firstFile">ChooseFirst</label>
    <input type="file" formControlName = "firstFile" (change)="check3($event)"><br>
    <label for="secondFile">ChooseFirst</label>
    <input type="file" formControlName = "secondFile" (change)="check($event)"><br>
    <button [disabled]=" f1 || f2">Calculate</button>
  </form>
</div>

<button (click)="backgroundColor()">Background</button>
<!-- <button (click)="check()">Check</button> -->

<!-- <router-outlet></router-outlet> -->
